  <body>
    <div class="calculadora">
      <div class="salida">
        <div data-operando-anterior class="operando-anterior pantalla">{{operandoAnterior}}{{operacion}}</div>
        <div data-operando-actual class="operando-actual pantalla">{{operandoActualPantalla}}</div>
      </div>
      <div class="grid-botones">
        <button class="grid-2" (click)="resetear()">AC</button>
        <button class="hidden"></button>
        <button (click)="borrar()">DEL</button>
        <button (click)="elijeOperacion('÷')">÷</button>
        <button (click)="anadirNumero(7)">7</button>
        <button (click)="anadirNumero(8)">8</button>
        <button (click)="anadirNumero(9)">9</button>
        <button (click)="elijeOperacion('*')">*</button>
        <button (click)="anadirNumero(4)">4</button>
        <button (click)="anadirNumero(5)">5</button>
        <button (click)="anadirNumero(6)">6</button>
        <button (click)="elijeOperacion('+')">+</button>
        <button (click)="anadirNumero(1)">1</button>
        <button (click)="anadirNumero(2)">2</button>
        <button (click)="anadirNumero(3)">3</button>
        <button (click)="elijeOperacion('-')">-</button>
        <button (click)="anadirComa()">,</button>
        <button (click)="anadirNumero(0)">0</button>
        <button (click)="negar()">+/-</button>
        <button class="igual" (click)="elijeOperacion('=')">=</button>

      </div>
    </div>
  </body>


